* {
  box-sizing: border-box;
}

body {
background-color: #101010;
color: white;
margin: 0;
padding: 0;
}

.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 10%;
  height: 10%
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #13AFF0;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
}




/* Navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  color: #13AFF0;
}

.navbar-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #13AFF0;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}

.toggle-button {
  display: flex;
}

.navbar-links {
  display: none;
  width: 100%;
}


.navbar-links ul {
  width: 100%;
  flex-direction: column;
}

.navbar-links li {
  text-align: center;
}

.navbar-links li a {
  padding: .5rem 1rem;
}

.navbar-links.active {
  display: flex;
}





/*Gallery on homepage*/

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.gallery img {
  opacity: 0.6;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
.gallery img:hover {
  opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity }

  

/* Hide and Show Div */

  #myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #;
    margin-top: 20px;
  }